/*======= Google fonts =======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /*======= Colors Dark =======*/
    --dark-color1: #1d1d1d;
    --dark-color2: #292929;
    --white-color1: #d4d4d4;
    --white-color2:#b8b6b6;
    --blur-color:#ffffff30;
    --brown-color: #793e22;
    --Orange-color: #ff7300;
    --Red-color: #bd1c1c;
    --gray-color: #353535;
    --nav-color: #1d1d1d;
    --textarea-white-color: #ffffff0a, #ffffff1a;
    --transparent1-color: rgba(255, 255, 255, 0.075);
    --transparent2-color: rgba(255, 255, 255, 0.15);
}

.dark_theme{
    /*======= Colors Light =======*/
    --dark-color1: #fefefe;
    --dark-color2: #bbbbbb;
    --white-color1: #202020;
    --white-color2:#3d3d3d;
    --blur-color:#00000030;
    --brown-color: #793e22;
    --Orange-color: #ff7300;
    --Red-color: #bd1c1c;
    --gray-color: #c9c9c9;
    --textarea-white-color: #00000031, #0000004b;
    --transparent1-color: rgba(0, 0, 0, 0.075);
    --transparent2-color: rgba(0, 0, 0, 0.4);
}

/*======= Main Css =======*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: var(--dark-color1);
    overflow-x: hidden;
    transition: 0.3s;
}

li{
    list-style-type: none;
}

/*======= Light/Dark theme btn =======*/
.theme_btn{
    z-index: 90;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--blur-color);
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--dark-color2-color);
    border: 1px solid var(--transparent1-color);
    border-right: 0;
    cursor: pointer;
    transition: 1s;
    transform: translateX(70px);
}

.theme_btn i{
    transition: 0.3s;
}

.theme_btn i:hover{
    color: var(--Orange-color);
}

.theme_btn .uil-sun, .theme_btn.sun .uil-moon{
    display: none;
}

.theme_btn.sun .uil-sun{
    display: block;
}

/*======= Header navigation bar =======*/
header{
    z-index: 99;
    position: fixed;
    width: 100%;
}

.nav-bar{
    position: relative;
    height: 4em;
    background: var(--blur-color);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--transparent1-color);
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 0 100px;
    transition: 1s;
    transform: translateY(-70px);
}

/*---- Logo ----*/
.nav-bar .nav-left{
    display: flex;
    align-items: center;
}

.nav-bar .logo{
    color: var(--nav-color);
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

/*---- Navigation ----*/
.navigation .nav-items {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.navigation .nav-items a{
    color: var(--nav-color);
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    padding: 5px 16px;
    border-radius: 20px;
    transition: 0.3s;
}

.navigation .nav-items a.active{
    color: var(--Orange-color);
}

.navigation .nav-items a:hover{
    color: var(--Orange-color);
}

.navigation .nav-items a i{
    display: none;
}

/*---- Lang Icon ----*/
.nav-right {
    display: flex;
    justify-content: space-between;
    width: max(15%, 100px);
}

.selected_lang {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 48px;
    font-weight: 500;
    transition: 0.3s;
}

.selected_lang:hover {
    color: var(--Orange-color);
}

.selected_lang::before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(https://flagsapi.com/US/flat/24.png);
}

/*---- Lang Menu ----*/
.lang_menu {
    display: none;
    position: fixed;
    z-index: 100;
    right: calc(15% - 60px);
    top: 70px;
    padding: 18px 24px;
    border-radius: 20px;
    color: var(--nav-color);
    background: var(--blur-color);
    backdrop-filter: blur(20px);
    border: 1px solid var(--transparent1-color);
}

.lang_menu h4 {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--nav-color);
}

.select_lang {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0;
}

.select_lang a {
    cursor: pointer;
    text-decoration: none;
    color: var(--nav-color);
    width: 135px;
    display: flex;
    font-weight: 600;
    align-items: center;
    transition: 0.3s;
}

.select_lang a:hover {
    color: var(--Orange-color);
}

.select_lang a::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 4px;
}

.en::before{
    background-image: url(https://flagsapi.com/US/flat/24.png);
}
.ar::before{
    background-image: url(https://flagsapi.com/MA/flat/24.png);
}
.fr::before{
    background-image: url(https://flagsapi.com/FR/flat/24.png);
}

.selected_lang .en::before {
    background-image: url(https://flagsapi.com/US/flat/24.png);
}
.selected_lang .ar::before {
    background-image: url(https://flagsapi.com/MA/flat/24.png);
}
.selected_lang .fr::before {
    background-image: url(https://flagsapi.com/FR/flat/24.png);
}

/*---- Cart Icon ----*/
.shopping{
    display: flex;
    align-items: center;
}

.shopping i{
    color: var(--nav-color);
    font-size: 1.3em;
    transition: 0.3s;
}

.shopping i:hover{
    color: var(--Orange-color);
}

.shopping .quantity{
    color: var(--nav-color);
    font-weight: 500;
    font-size: 1.2em;
    padding-left: 2px;
}

/*---- Cart ----*/
.cart{
    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;
    width: min(360px, 100%);
    height: 100vh;
    padding: 20px;
    background: var(--dark-color2);
    box-shadow: 0px 0px 20px 10px var(--dark-color2);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart.active{
    right: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.cart_title{
    text-align: center;
    color: var(--white-color1);
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2rem;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--white-color1);
}

.total_title{
    color: var(--white-color1);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.total_price{
    color: var(--white-color1);
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7rem;
}

.btn_buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: var(--Orange-color);
    color: var(--white-color1);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn_buy:hover{
    background: var(--brown-color);
}

#close_cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--white-color1);
    cursor: pointer;
    transition: 0.2s;
}

#close_cart:hover{
    color: var(--Orange-color);
}

.cart_box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart_img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.detail_box{
    display: grid;
    row-gap: 0.5rem;
}

.cart_product_title{
    color: var(--white-color1);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.cart_price{
    color: var(--white-color1);
    font-weight: 500;
}

.cart_quantity{
    border: 1px solid var(--Orange-color);
    outline-color: var(--brown-color);
    background: var(--white-color2);
    color: var(--dark-color1);
    width: 2.8rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 4px;
}

.cart_remove{
    font-size: 24px;
    color: var(--white-color1);
    cursor: pointer;
    transition: 0.2s;
}

.cart_remove:hover{
    color: var(--Red-color);
}


/*======= Home =======*/
section{
    position: relative;
    font-size: 1em;
    padding: 30px 130px;
    transition: 0.5s ease;
    transition-property: padding;
}

.home{
    position: relative;
    min-height: 100vh;
    background: url(Images/medjool-dates.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: center;
}

.home:before{
    z-index: 88;
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    background: linear-gradient(transparent, var(--dark-color1));
    bottom: 0;
    left: 0;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home h1{
    color: transparent;
    font-size: 3.5em;
    font-weight: 700;
    -webkit-text-stroke: 2px #242424;
    background: url(Images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 1920px 0;
    }
}

/*======= All Sections =======*/
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    flex-direction: column;
    width: 100%;
}
.section-title{
    position: absolute;
    top: 10px;
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
    color: var(--white-color1);
}

.section-title::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--Orange-color);
}


/*======= Products =======*/
.products{
    position: relative;
    min-height: 70vh;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 9rem 0 2rem 0;
    display: flex;
}

.products_content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-right: 4rem;
    justify-content: center;
}

.product_box{
    position: absolute;
    width: 60%;
    left: 10%;    
    background: var(--blur-color);
    backdrop-filter: blur(20px);
    border: solid 1px var(--transparent1-color);
    border-radius: 25px;
    box-shadow: 0px 0px 20px 5px var(--transparent2-color);
    color: var(--white-color1);
    padding: 1.2rem 12vw 1.2rem 3rem;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 0;
}

.active_box{
    opacity: 1;
    z-index: 1;
}

.product_name{
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    padding: 10px 0;
}

.product_desc{
    font-size: clamp(0.8rem, 1.6vw, 1.4rem);
    padding: 10px 0;
    height: 140px;
}

.product_price{
    font-size: clamp(1.5rem, 3vw, 2rem);
    padding: 10px 0;
}

.product_cart{
    position: absolute;
    transition: 0.3s;
    padding: 10px 14px;
    right: 28%;
    bottom: 26px;
    border: none;
    border-radius: 2rem;
    background: var(--white-color1);
    color: var(--gray-color);
    font-size: clamp(0.8rem, 1.6vw, 1.4rem);
    font-weight: 600;
    cursor: pointer;
}

.product_cart:hover{
    background: var(--Orange-color);
}

.product_img {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) !important;
  width: clamp(200px, 35vw, 500px);
  aspect-ratio: 1;
  object-fit: contain;
}



.product_img_shadow{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%) !important;
    width: clamp(200px, 35vw, 500px);
    aspect-ratio: 1;
    z-index: -1;
}
.product_img_shadow::before{
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    z-index: -1;
    border-radius: 50%;
    background: var(--blur-color);
    backdrop-filter: blur(100px);
    border: solid 1px var(--transparent1-color);
    box-shadow: 0px 0px 20px 12px var(--transparent2-color);
}

.products_dots {
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 20px;
}

.products_dots ul {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products_dots ul li {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--white-color1);
    cursor: pointer;
    margin: 0 16px;
}

.products_dots ul li.active_dot{
    background-color: var(--Orange-color);
    box-shadow: 0px 0px 6px 1px var(--Orange-color);
}

/*======= About =======*/
.about{
    position: relative;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 9rem 0 2rem 0;
    display: flex;
    justify-content: center;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-img{
    display: flex;
    justify-content: center;
}

.about-img img{
    width: 500px;
}

.about-info{
    width: 100%;
    height: 100%;
    padding: 0 6rem 0 6rem;
    color: var(--white-color1);
}

.about-info h3{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    width: 50%;
}

.about-info p{
    color: var(--white-color2);
    font-size: 1em;
}

/*======= Contact =======*/

.contact{
    position: relative;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 9rem 6rem 2rem;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.contact-left{
    margin-right: 50px;
}

.contact-list li{
    margin-bottom: 40px;
}

.contact-list li div{
    display: flex;
    align-items: center;
}

.contact-list li h3{
    color: var(--white-color1);
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-list li i{
    color: var(--Orange-color);
    font-size: 1.3em;
    margin: 0 10px 7px 0;
}

.contact-list li span{
    color: var(--white-color2);
    margin-left: 40px;
}

.contact-list li span a{
    color: var(--white-color2);
    text-decoration: none;
    transition: 0.2s;
}

.contact-list li span a:hover{
    color: var(--Orange-color);
}

.contact-form input, .contact-form textarea{
    border: none;
    color: var(--white-color1);
    background: linear-gradient(var(--textarea-white-color));
    font-size: 1em;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.contact-form textarea{
    width: 100%;
    resize: none;
}

::placeholder{
    color: var(--white-color1);
}

.contact-form .first-row input{
    width: 100%;
}

.contact-form .second-row{
    display: flex;
    justify-content: space-between;
}

.contact-form .second-row input{
    width: 48%;
}

.contact-form .btn{
    position: relative;
    background: var(--dark-color2);
    color: var(--white-color1);
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    border: none;
    margin-top: 0;
    padding: 20px 30px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form .btn:hover{ 
    background: var(--Orange-color);
}

/*======= Footer =======*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--dark-color2);
    width: 100%;
    margin-top: 50px;
    padding: 2rem 3rem;
    color: var(--white-color1);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-container .ft_logo{
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, var(--white-color1) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
}

.flex-direction {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.footer-container .footer-copyright, 
.footer-container .follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-container .follow ul{
    display: flex;
}

.footer-container .follow a{
    color: var(--white-color1);
    font-size: 1.7em;
    margin: 20px;
    transition: 0.3s;
}
.footer-container .follow a:hover{
    color: var(--Orange-color);
}

/*======= Scroll bar =======*/
::-webkit-scrollbar{
    background: var(--dark-color1);
    width: 11px;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb{
    background: #793e22;
    width: 100%;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: #ff7300;
}

/*======= Scroll indicator bar =======*/
.scroll-indicator-container{
    width: 100%;
    height: 5px;
}

.scroll-indicator-bar{
    background: #ff7300;
    width: 0%;
    height: 100%;
    box-shadow: 0 5px 25px #ff7300,
                0 5px 50px #ff7300;
}

.nav-close-btn, .nav-menu-btn{
    display: none;
}

/*======= Success & Cancel =======*/
.sc_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.sc_container img{
    width: calc(14vw + 90px);
    margin: 2rem 0;
}

.sc_container h1{
    color: var(--white-color1);
    font-size: clamp(1.2rem,7vw, 2.8rem);
    margin-bottom: 10px;
}

.sc_container p{
    color: var(--white-color1);
    max-width: 600px;
    font-size: clamp(0.7rem, 4vw, 1rem);
    text-align: center;
    margin: 0.5rem 0;
}

.sc_container .email{
    color: var(--white-color2);
    text-decoration: none;
    transition: 0.2s;
}

.sc_container .email:hover{
    color: var(--Orange-color);
}

.sc_btn{
    padding: 12px 20px;
    border-radius: 2rem;
    background: var(--Orange-color);
    color: var(--white-color1);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.sc_btn:hover{
    background: var(--brown-color);
}


/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
    header .nav-bar{
        padding: 0 50px;
    }

    section{
        padding: 30px 45px;
        font-size: 0.9em;
    }

    .lang_menu {
        right: calc(17% - 110px);
    }

    /*======= Products =======*/
    .product_cart{
        bottom: 30px;
    }

    /*======= About =======*/
    .about-img img{
        width: 450px;
    }
    
    .about-info{
        padding: 0 4rem 0 4rem;
    }
    
    /*======= Contact =======*/
    .contact-content{
        width: 100%;
    }

}

/*======= Media queries (max-width: 1000px) =======*/
@media screen and (max-width: 1000px) {
    .flex-direction {
        width: 70%;
    }

    /*======= Navigation menu =======*/
    .navigation .nav-items {
        width: 420px;
    }

    
    /*======= Products =======*/
    .products_content{
        padding-right: 3rem;
    }

    .product_cart{
        bottom: 26px;
    }

    .product_desc{
        height: 105px;
    }

    /*======= About =======*/
    .about-img img{
        width: 420px;
    }
    
    .about-info{
        padding: 0 3rem 0 3rem;
    }
}

/*======= Media queries (max-width: 850px) =======*/
@media screen and (max-width: 850px) {
    header .nav-bar {
        padding: 0 20px;
    }

    section {
        padding: 30px 20px;
        font-size: 0.8em;
    }

    .lang_menu {
        right: max(0px, calc(15% - 115px));
    }

    /*======= Navigation menu =======*/
    .nav-menu-btn{
        display: block;
        color: #242424;
        font-size: 1.5em;
        cursor: pointer;
    }

    .navigation{
        z-index: 99999;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    .navigation .nav-items{
        position: relative;
        background: #d4d4d4;
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 40px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 5px 25px #242424cc;
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active .nav-items{
        transform: translateY(0);
    }

    .navigation .nav-items a{
        color: #222;
        font-size: 1em;
        margin: 15px 50px;
    }

    .navigation .nav-items a i{
        display: inline-block;
        font-size: 1.2em;
        margin-right: 5px;
    }

    .nav-close-btn{
        display: block;
        color: #222;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
    }

    /*======= home =======*/
    .home {
        justify-content: center;
    }

    .home h1 {
        text-align: center;
    }

    /*======= Products =======*/
    .product_box{
        padding: 1.2rem 30vw 1.2rem 2rem;
    }

    .product_cart{
        right: 45%;
    }

    /*======= About =======*/
    .about-img img{
        position: relative;
        width: 300px;
        right: 10px;
    }
    
    .about-info{
        padding: 0 1rem 0 2rem;
    }

    .about-info h3{
        font-size: 1.8em;
    }
    
    .about-info p{
        font-size: 0.9em;
    }

    /*======= Contact =======*/
    .contact-content{
        flex-direction: column;
    }

    .contact-left {
        margin-right: 0;
        padding: 20px 0 20px 0;
    }

    /*======= Footer =======*/

    .footer-container {
        flex-direction: column;
    }

    .flex-direction {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 130px;
        width: 100%;
    }

    .footer-container {
        height: 250px;
    }

}

/*======= Media queries (max-width: 670px) =======*/
@media screen and (max-width: 670px) {
    
    /*======= Products =======*/
    .products_content {
        padding-right: 0;
        flex-direction: column-reverse;
    }

    .product_box {
        width: 80%;
        border-radius: 25px;
        padding: 1.2rem 2rem;
    }

    .product_desc {
        text-align: center;
        height: 80px;
    }

    .product_cart {
        right: 8%;
        bottom: 27px;
    }

    .product_img,
    .product_img_shadow {
        top: -26%;
        left: 50%;
    }

    /*======= About =======*/
    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-info {
        padding: 2rem 2rem 0 2rem;
    }

    .about-img img{
        width: 400px;
        right: 0;
    }

    .about-info h3{
        font-size: 2em;
    }
    
    .about-info p{
        font-size: 1em;
    }

    /*======= Contact =======*/
    .contact {

        padding: 10rem 3rem 2rem;
    }

    .contact-right {
        width: 100%;
    }

    .contact-form .second-row {
        display: flex;
        flex-direction: column;
    }

    .contact-form .second-row input {
        width: 100%;
    }
}

/*======= Media queries (max-width: 450px) =======*/
@media screen and (max-width: 450px) {

    /*======= Navigation menu =======*/
    .navigation .nav-items {
        padding: 20px;
    }

    .navigation .nav-items a:not(:last-child) {
        margin-right: 25px;
    }

    .navigation .nav-items a {
        margin: 10px 25px;
    }

    /*======= Products =======*/
    .product_name,
    .product_desc,
    .product_price{
        padding: 5px 0;
    }

    .product_desc {
        height: 110px;
    }

    .product_cart {
        bottom: 24px;
        padding: 8px 12px;
    }

    /*======= About =======*/
    .about-img img{
        width: 300px;
    }

    .about-info h3{
        font-size: 1.8em;
    }
    
    .about-info p{
        font-size: 0.9em;
    }

    /*======= Contact =======*/
    .contact-form {
        display: flex;
        flex-direction: column;
    }

    /*======= Footer =======*/
    footer {
        padding: 2rem 1rem;
    }

}

/*======= Media queries (max-width: 350px) =======*/
@media screen and (max-width: 350px) {

    .section-title {
        font-size: 2em;
    }

    .theme_btn {
        width: 40px;
        height: 40px;
    }

    /*======= Navigation menu =======*/
    .navigation .nav-items{
        margin: 20px;
    }

    .cart_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    /*======= Products =======*/
    .products {
        padding: 9rem 0 1rem 0;
    }

    .product_box {
        padding: 1.2rem 1rem;
    }

    .product_name{
        text-align: center;
    }

    .product_name,
    .product_desc,
    .product_price {
        padding: 0;
    }

    .product_desc {
        height: 130px;
    }

    .product_cart {
        padding: 6px 10px;
        right: 8%;
        bottom: 22px;
    }

    /*======= About =======*/
    .about-img img{
        width: 250px;
    }

    /*======= Contact =======*/
    .contact {
        padding: 10rem 1rem 2rem;
    }

    /*======= Footer =======*/
    .footer-copyright p{
        font-size: 0.8em;
    }

}

/*======= Media queries (max-width: 275px) =======*/
@media screen and (max-width: 275px) {
    .product_desc {
        height: 180px;
    }

    .product_img, .product_img_shadow {
        right: calc(50% - 100px);
        width: 200px;
    }
}

/*======= Media queries (min-height: 700px , min-height: 700px) =======*/
@media screen and (min-width: 700px) and (min-height: 700px) {

    
    /*======= About =======*/
    .about-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-info {
        padding: 2rem 2rem 0 2rem;
    }

    .about-img img{
        width: 500px;
        right: 0;
    }

    .about-info h3{
        font-size: 2.5em;
    }
    
    .about-info p{
        font-size: 1.4em;
    }

}